<div id="footer-space"></div>
<div id="footer"><p>@Html.ActionLink("Home Page", "Index", "Home") | @Html.ActionLink("See list of flavors", "Index", "Flavors") | @Html.ActionLink("See list of treats", "Index", "Treats")</p></div>